{% extends 'base.html' %}

{% block content %}
<mai class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Bievenido</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Itaque repudiandae magnam cum, eius doloremque expedita ipsum! Possimus sequi deleniti veritatis ducimus! Aliquid labore, laudantium non suscipit ducimus nulla reiciendis quos. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sequi facere mollitia laborum ratione dolores unde corrupti, consectetur eligendi dolorum earum molestias quisquam quibusdam ullam in esse est, inventore sunt necessitatibus!. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis consectetur, quidem quas harum hic iste mollitia. Illum qui, harum, blanditiis cupiditate incidunt quod dolores, omnis officiis quas facere sequi optio.</p>

        <div class="text-center">
            <a class="btn btn-secondary" href="signin">
                Ingresar
            </a>
            <a class="btn btn-primary" href="signup">
                Registrarse
            </a>
        </div>
        
    </section>
</main>

{% endblock %} 